---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">curriculum vitae <a href="mycv/cv.pdf">[pdf version]</a></h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>laboratory experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.labs %}
          <p class="fw-bold"><a href="{{ section.url }}">{{ section.title }}</a> | <i>{{section.description}}</i></p>
          <p>{{ section.location }} | <i>{{section.year}}</i></p>
          <p>{{ section.info }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>research mentoring</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.mentoring %}
          <p class="fw-bold">{{ section.title }} | <i>{{ section.dates }}</i></p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>teaching</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.teaching %}
          <p class="fw-bold">{{ section.title }}</p>
          <p><i>{{ section.description }} | {{ section.dates }}</i></p>
          <p>{{ section.info }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>service activities</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.service %}
          <p class="fw-bold">{{ section.title }} | <i>{{ section.year }}</i></p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>publications</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.papers %}
          <p>{{ section.title }}<a href="{{ section.url }}">{{ section.url }}</a></p
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>honors and funding</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.honors %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.location }} | <i>{{ section.year }}</i></p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
