---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">curriculum vitae <a href="assets/cv.pdf">[pdf version]</a></h3>
    
    
    <!-- EMPLOYMENT -->
    <div class="row g-5 mb-5">
      <div class="col-md-2"><h4>employment</h4></div>
      <div class="col-md-10">
        {% for section in site.data.cv.employment %}
          <p class="fw-bold">{{ section.title }}</p>
          <p><i>{{ section.institution }}, {{ section.location }} | {{ section.dates }}</i></p>
        {% endfor %}
      </div>
    </div>


    <!-- EDUCATION -->
    <div class="row g-5 mb-5">
      <div class="col-md-2"><h4>education</h4></div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.degree }}</p>
          <p><i>{{ section.institution }}, {{ section.location }} | {{ section.dates }}</i></p>
        {% endfor %}
      </div>
    </div>


    <!-- PUBLICATIONS -->
    <div class="row g-5 mb-5">
      <div class="col-md-2"><h4>publications</h4></div>
      <div class="col-md-10">
        <p><i>* Indicates Co-First Author</i></p>
        {% for section in site.data.cv.publications %}
          <p>{{ section.authors }} ({{ section.year }}). 
          {% if section.url %}
            <a href="{{ section.url }}">{{ section.title }}</a>
          {% else %}
            {{ section.title }}
          {% endif %}
          <i>{{ section.journal }}</i>
          {% if section.note %}
            <br>{{ section.note }}
          {% endif %}
          </p>
        {% endfor %}
      </div>
    </div>


    <!-- CONFERENCE PRESENTATIONS -->
    <div class="row g-5 mb-5">
      <div class="col-md-2"><h4>conference posters and talks</h4></div>
      <div class="col-md-10">
        <p><i>Trainees indicated with underline in presentations</i></p>
        {% for section in site.data.cv.conference_presentations %}
          <p>{{ section.authors }} ({{ section.year }}). <i>{{ section.title }}</i> {{ section.event }}. {{ section.type }}, {{ section.location }}.
          {% if section.note %}
            <br><i>{{ section.note }}</i>
          {% endif %}
          </p>
        {% endfor %}
      </div>
    </div>


    <!-- INVITED TALKS -->
    <div class="row g-5 mb-5">
      <div class="col-md-2"><h4>invited talks and panels</h4></div>
      <div class="col-md-10">
        {% for section in site.data.cv.invited_talks %}
          <p class="fw-bold">{{ section.title }}</p>
          <p><i>{{ section.event }} | {{ section.date }}</i></p>
        {% endfor %}
      </div>
    </div>


    <!-- TEACHING -->
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>teaching</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.teaching %}
          <p class="fw-bold">{{ section.role }}</p>
          <p><i>
          {% if section.link %}
            <a href="{{ section.link }}">{{ section.course }}</a>
          {% else %}
            {{ section.course }}
          {% endif %}
          | {{ section.institution }} | {{ section.dates }}</i></p>
          <p>{{ section.description }}
          {% if section.previous %}
            Previously: {{ section.previous }}
          {% endif %}
          {% if section.syllabus %}
            <a href="{{ section.syllabus }}">[Syllabus]</a>
          {% endif %}
          {% if section.award_link %}
            <a href="{{ section.award_link }}">[Award Article]</a>
          {% endif %}
          </p>
        {% endfor %}
      </div>
    </div>


    <!-- PEDAGOGY DEVELOPMENT -->
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>pedagogy development</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.pedagogy_development %}
          <p class="fw-bold">
          {% if section.link %}
            <a href="{{ section.link }}">{{ section.category }}</a>
          {% else %}
            {{ section.category }}
          {% endif %}
          </p>
          
          {% for item in section.items %}
            <p><i>{{ item.name }} | {{ item.date }}</i>
            {% if item.description %}
              <br>{{ item.description }}
            {% endif %}
            {% if item.link %}
              <br><a href="{{ item.link }}">Link</a>
            {% endif %}
            </p>
          {% endfor %}
          
        {% endfor %}
      </div>
    </div>
    

    <!-- SERVICE AND LEADERSHIP -->
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>service and leadership</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.service %}
          <p class="fw-bold">{{ section.role }}</p>
          <p><i>{{ section.organization }}{% if section.institution %}, {{ section.institution }}{% endif %} | {{ section.dates }}</i></p>
          <p>{{ section.description }}
          {% if section.link %}
            <a href="{{ section.link }}">[Article]</a>
          {% endif %}
          </p>
        {% endfor %}
      </div>
    </div>


    <!-- HONORS AND FUNDING -->
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>honors and funding</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.honors %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{% if section.institution %}{{ section.institution }} | {% endif %}<i>{{ section.year }}</i>
          {% if section.link %}
            | <a href="{{ section.link }}">Article</a>
          {% endif %}
          </p>
        {% endfor %}
      </div>
    </div>


    <!-- STUDENT MENTORSHIP -->
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>student mentorship</h4>
      </div>
      <div class="col-md-10">
        <p>Brown University: supervise and train undergraduate students in research practice, coding, and data
          analysis. Selected projects and achievements highlighted below. UTRA: Undergraduate Teaching and
          Research Award, competitive funding from Brown University for full time (summer) or part time
          (fall/spring) research pursuit.</p>
        <br>

        {% for section in site.data.cv.mentorship %}
          <p class="fw-bold">{{ section.student }} | <i>{{ section.years }}</i></p>
          <p>{{ section.achievements }}</p>
          {% if section.current %}
            <p><i>Current: {{ section.current }}</i></p>
          {% endif %}
        {% endfor %}
      </div>
    </div>


  </div>
</div>