---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">life outside the lab</h3>


<h4 class="fw-bold pb-3">recent reading</h4>
<p>i love to read, and made my 2021 goal to get through 100 new books! see some of my list below--
    if you have recommendations or like talking about books, friend me on goodreads.
    i love trying new authors. </p>
<table style="width:100%">
  <tr>
      {% for book in site.data.books.books1 %}
        <td style="width:10%"><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books2 %}
        <td style="width:10%"><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books3 %}
        <td style="width:10%"><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books4 %}
        <td style="width:10%"><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books5 %}
        <td style="width:10%"><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books6 %}
        <td style="width:10%"><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books7 %}
        <td style="width:10%"><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books8 %}
        <td style="width:10%"><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books9 %}
        <td style="width:10%"><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books10 %}
        <td style="width:10%"><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
</table>


<h4 class="fw-bold pb-3 mb-5">favorite parts of rhode island</h4>
<p><b>beaches</b></p>
<div class="row g-5 mb-5">
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/beach1.jpg" alt="contact" width="100%"></div>
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/beach2.jpg" alt="contact" width="100%"></div>
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/beach3.jpg" alt="contact" width="100%"></div>
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/beach4.jpg" alt="contact" width="100%"></div>
</div>
<p><b>fresh produce</b></p>
<div class="row g-5 mb-5">
  <div class="col-md-12"><img src="{{ site.github.url }}/assets/img/farm1.jpg" alt="contact" width="100%"></div>
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/farm2.jpg" alt="contact" width="100%"></div>
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/farm3.jpg" alt="contact" width="100%"></div>
</div>
<p><b>state parks</b></p>
<div class="row g-5 mb-5">
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/park1.jpg" alt="contact" width="100%"></div>
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/park2.jpg" alt="contact" width="100%"></div>
</div>
<p><b>beautiful skylines</b></p>
<div class="row g-5 mb-5">
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/sky2.jpg" alt="contact" width="100%"> <img src="{{ site.github.url }}/assets/img/sky3.jpg" alt="contact" width="100%"> </div>
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/sky1.jpg" alt="contact" width="100%"></div>
</div>

<h4 class="fw-bold pb-3">biking</h4>
<p>i love biking, especially on the east bay bike path</p>
<div class="row g-5 mb-5">
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/bike1.jpg" alt="contact" width="100%"></div>
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/bike2.jpg" alt="contact" width="100%"></div>
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/bike3.jpg" alt="contact" width="100%"></div>
  <div class="col-md-6"><img src="{{ site.github.url }}/assets/img/bike4.jpg" alt="contact" width="100%"></div>
</div>
