---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">other</h3>
<table style="width:100%">
  <tr>
      {% for book in site.data.books.books1 %}
        <td style="width:10%"><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books2 %}
        <td><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books3 %}
        <td><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books4 %}
        <td><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books5 %}
        <td><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books6 %}
        <td><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books7 %}
        <td><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books8 %}
        <td><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books9 %}
        <td><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
  <tr>
      {% for book in site.data.books.books10 %}
        <td><img src="{{ book.cover }}" alt="{{ book.title }}" width="100%"></td>
      {% endfor %}
  </tr>
</table>
