---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3">courses</h3>
    {% for course in site.data.settings.courses %}
      <div class="col-md-6">
        <h4>{{ course.name }}</h4>
        <p><em>{{ course.info }}</em></p>
        <p>{{ course.term }} | {{ course.num }}</p>
        <p><a href="{{ course.url }}">syllabus</a></p>
      </div>
    {% endfor %}
  </div>
  <div>
    <h3 class="fw-bold border-bottom pb-3">ta appointments</h3>
    {% for course in site.data.settings.taships %}
    <div class="row g-1 mb-1">
      <h4>{{ course.name }}</h4>
      <p><em>{{ course.info }}</em></p>
      <p>{{ course.term }} | {{ course.num }}</p>
    </div>
    {% endfor %}
  </div>
</div>
